<!-- EDIT SALE LISTING FORM -->

<h2 class="text-center">Edit Listing</h2>
<br>
<div class="row">
  <div class="col-md-12">

<%= form_for @sale, method: :patch do |f| %>
  <% if @sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sale.errors.count, "error") %>
        prohibited this sale from being saved:</h2>
      <ul>
        <% @sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
  <% end %>

  <div class="field form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control'  %>
  </div>

<!--  Company Name
 Company_Url -->

  <div class="field form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
  </div>
  <div class="field form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control' %>
  </div>
  <div class="field form-group">
      <%= f.label :state %>
      <%= f.text_field :state, class: 'form-control' %>
  </div>
  <div class="field form-group">
      <%= f.label :zip_code %>
      <%= f.text_field :zip_code, class: 'form-control' %>
  </div>
  <div class="field form-group">
      <%= f.label :start_date %>
      <%= f.date_field :start_date, class: 'form-control' %>
  </div>
  <div class="field form-group">
      <%= f.label :end_date %>
      <%= f.date_field :end_date, class: 'form-control' %>
  </div>

  <div class="field form-group">
      <%= f.label :times %>
      <%= f.text_field :times, class: 'form-control' %>
  </div>

  <div class="field form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control', rows: 20 %>
  </div>
  <div class="field form-group">
      <%= f.label :forms_of_payment, 'Accepted forms of payment' %>
      <%= f.text_field :forms_of_payment, class: 'form-control', rows: 3 %>
  </div>
  <div class="field form-group">
      <%= f.label :special_inst, 'Special Instructions' %>
      <%= f.text_field :special_inst, class: 'form-control', rows: 10 %>
  </div>
  <div class="field form-group">
      <%= f.label :images, 'Photos' %>
      <% @sale.images.each do |image| %>
        <%= image_tag(image.url(:thumb)) %>
      <% end %>
      <%= f.file_field :images, multiple: true, class: 'form-control' %>
  </div>


  <br>

  <div class="actions form-group">
    <%= f.submit "Update Sale Listing", class: 'btn btn-default' %>
  </div>
  <% end %>


  <h4><%= link_to 'Back', estatesales_path %></h4>


  </div>
</div>
