<div class="row">
  <div class="col-md-6 col-md-offset-3">
<!-- Should welcome both user types -->
<% if logged_in? %>
<h1 class="text-center">Welcome, <%= current_user.username %>!</h1>
<% end %>
   </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<!-- Zip code search form -->
    <div class="well">
      <p>Search for sales in you area by zip code:</p>
      <%= form_tag("/estatesales", method: "get") do %>
        <%= label_tag(:zip_code, "Zip Code:") %>
        <%= text_field_tag(:zip_code) %>
        <%= submit_tag("Search") %>
      <% end %>
    </div>
  </div>
</div>

<div class="sales-container">
<div class="row">
  <div class="col-md-12">

  <h2 class="text-center">Current Sales & Auctions: </h2>
  <table class="table table-hover table-responsive">
    <thead class="thead-default">
      <tr>
        <td></td>
        <td><h3><strong>Dates / Times</strong></h3></td>
        <td><h3><strong>Company / Name</strong></h3></td>
        <td><h3><strong>Location</strong></h3></td>
        <td><h3><strong>Distance</strong></h3></td>
      </tr>
    </thead>
    <tbody>
      <hr>
      <% @sales.each do |sale| %>
      <tr>
        <td><%=sale.featured_photo do %>
              <%= image_tag("sale.featured_photo") %>
            <% end %>
        </td>
        <td><%=sale.start_date%> - <%=sale.end_date%><br><%=sale.times%></td>
        <td><%= link_to sale.title, estatesale_path(sale) %><br>Lasted updated: <%=sale.updated_at.strftime("%m.%d.%y")%></td>
        <td><%=sale.address%><br><%=sale.city%>, <%=sale.state%>  <%=sale.zip_code%></td>
        <td>
          <% if params[:zip_code].present? %>
            <%= sale.distance_from(params[:zip_code]) %> miles
          <% end %>
        </td>
      </tr>

      <%end%>
    </tbody>
  </table>
</div>
</div>
</div>


