
<div class="row">
  <div class="col-md-6">
    <div class="favorites-container">
  <!-- Add sale to favorites -->
      <p class="lead">
        <% if !logged_in? %>
          <div id="favorites-not-logged-in">
            <%= button_to 'Add Sale to Favorites', login_path, method: :get %>
          </div>
        <% end %>
        <% if logged_in? %>
          <%- unless current_user.favorite_sales.exists?(id: @sale.id) -%>
          <%= button_to 'Add this sale to favorites', favorite_sales_path(sale_id: @sale), method: :post %>
          <% end %>
      </p>
        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>

  <!-- See all favorites link -->
      <p class="lead">
        <%= link_to 'See all favorites', favorite_sales_path(sale_id: @sale) %>
      </p>
        <% end %>
      </div>
  </div>

  <div class="col-md-6">
      <div id="map-canvas">
        Google map inset
      </div>
  </div>
</div>
      <!-- AJAX CALLS NEED TO ADD: -->
      <!--  div id = star container -->
      <!--  div id = favorites container  -->

    <div class="row">
      <div class="col-md-12">
     <!-- Individual Sale Details: -->
        <div id="sale-container" data-address="<%= @sale.address %>, <%= @sale.city%>, <%= @sale.state %>, <%= @sale.zip_code %>">

          <h3><%= @sale.title %></h3>
          <p><%= @sale.lister %></p>
          <p class="lead"><%= @sale.address %></p>
          <p class="lead"><%= @sale.city%>, <%=@sale.state%> <%= @sale.zip_code %></p>
          <p class="lead"><%= @sale.start_date %> - <%= @sale.end_date %></p>
          <p class="lead"><%= @sale.times %></p>
          <h3>Description:</h3>
          <p class="lead"><%= @sale.description %></p>
          <h3>Forms of Payment Accepted: </h3><p><%= @sale.forms_of_payment %></p>
          <h3>Special Instructions: </h3><p><%= @sale.special_inst %></p>
      <!-- NEED TO ADD PHOTOS OF SALE -->
          <h3>Photos:</h3>
            <% @sale.images.each do |image| %>
              <%= image_tag(image.url(:thumb)) %>
            <% end %>
      <h3>
        <%= link_to 'Back', estatesales_path %>
      </h3>

    <!-- Edit listing button (ONLY IF ADMIN!):  -->
    <% if admin? %>
      <h3>
        <%= link_to 'Edit this Listing', edit_estatesale_path(@sale) %>
      </h3>

    <!-- Delete listing button (ONLY IF ADMIN!):  -->
      <h3>
        <%= link_to 'Delete', @sale, method: :delete, data: { confirm: 'Are you sure?' } %>
      </h3>
    <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  var map;
  function initMap() {

      var location = {lat: <%= @sale.latitude %>, lng: <%= @sale.longitude %> };
      map = new google.maps.Map(
        document.getElementById('map-canvas'),
        {
          center: location,
          zoom: 12
       }
      );

      var marker = new google.maps.Marker({
         position: location,
         map: map
      });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyo_TTVJ_17KjZr5Q2eb07CjuAQ6CZj_U&callback=initMap" async defer></script>

