
<div class="row">
  <div class="col-md-6">
    <h3><%= @sale.title %></h3>
    <p><%= @sale.lister %></p>
    <p class="lead"><%= @sale.address %></p>
    <p class="lead"><%= @sale.city%>, <%=@sale.state%> <%= @sale.zip_code %></p>
    <p class="lead"><%= @sale.start_date %> - <%= @sale.end_date %></p>
    <p class="lead"><%= @sale.times %></p>
  </div>

   <div class="col-md-6">
      <div id="map-canvas">
        Google Map Inset
      </div>
  </div>
</div>

      <!-- AJAX CALLS NEED TO ADD: -->
      <!--  div id = star container -->
      <!--  div id = favorites container  -->
<br>
<br>
<div class="row">
  <div class="col-md-6">
    <div class="company-info">
      <ul>
        <li>Company Logo</li>
        <li>Name</li>
        <li>Phone Number</li>
        <li>Website</li>
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="favorites-container">
  <!-- Add sale to favorites -->
        <% if !logged_in? %>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal"><i id="empty" class="icon icon-star-o icon-2x"></i> Add this Sale to Favorites</button>
            <!-- Modal -->
            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Log In</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                     <div class="col-md-6 col-md-offset-3">
                       <!--  <h3 class="text-center">Log In</h3> -->
                          <%= form_for(:session, url: login_path, html: {class: 'form-horizontal'}) do |f| %>
                            <div class="field form-group">
                              <%= f.label :username, class: 'control-label' %>
                            <div class="col-md-10">
                              <%= f.text_field :username, class: 'form-control' %>
                            </div>
                            </div>
                            <div class="field form-group">
                              <%= f.label :password, class: 'control-label' %>
                            <div class="col-md-10">
                              <%= f.password_field :password, class: 'form-control' %>
                            </div>
                            </div>
                            <div class="actions form-group text-center">
                              <%= f.submit "Log In", class: 'btn btn-default' %>
                            </div>
                          <% end %>

                        <h4 class="text-center">New User? <%= link_to 'Sign up now!', new_user_path %></h3>
                        <br>
                        <h4 class="text-center"><%= link_to 'Back', :back %></h4>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

        <% end %>


        <% if logged_in? %>
          <%- unless current_user.favorite_sales.exists?(id: @sale.id) -%>
            <%= link_to favorite_sales_path(sale_id: @sale), method: :post, class: 'btn btn-default add-fav' do %>
              <i id="empty" class="icon icon-star-o icon-2x"></i>
              <i id="filled" class="icon icon-star icon-3x"></i>
              Add this Sale to Favorites
            <% end %>
        <% end %>
  <!-- See all favorites link -->
          <p class="lead">
            <%= link_to 'See all favorites', favorite_sales_path(sale_id: @sale) %>
          </p>
      <% end %>

        <% if notice %>
          <p id="notice"><%= notice %></p>
        <% end %>




    </div>


  </div>
</div>
<div class="row">
  <div class="col-md-12">
     <!-- Individual Sale Details: -->
        <div id="sale-container" data-address="<%= @sale.address %>, <%= @sale.city%>, <%= @sale.state %>, <%= @sale.zip_code %>">


          <h3>Description:</h3>
          <p class="lead"><%= @sale.description %></p>
          <h3>Forms of Payment Accepted: </h3><p><%= @sale.forms_of_payment %></p>
          <h3>Special Instructions: </h3><p><%= @sale.special_inst %></p>
      <!-- NEED TO ADD PHOTOS OF SALE -->
          <h3>Photos:</h3>
            <% @sale.images.each_with_index do |image, index| %>
              <%= image_tag(image.url(:thumb)) %>
              <%= link_to "Delete", estatesale_image_path(image, index), :method => :delete, data: { confirm: "Are you sure you want to delete this image?" } %>
            <% end %>

      <h3>
        <%= link_to 'Back', estatesales_path %>
      </h3>

    <!-- Edit listing button (ONLY IF ADMIN!):  -->
    <% if admin? %>
      <h3>
        <%= link_to 'Edit this Listing', edit_estatesale_path(@sale) %>
      </h3>

    <!-- Delete listing button (ONLY IF ADMIN!):  -->
      <h3>
        <%= link_to 'Delete', @sale, method: :delete, data: { confirm: 'Are you sure?' } %>
      </h3>
    <% end %>
    </div>
  </div>
</div>

<script type='text/javascript'>
  var map;
  function initMap() {

      var location = {lat: <%= @sale.latitude %>, lng: <%= @sale.longitude %> };
      map = new google.maps.Map(
        document.getElementById('map-canvas'),
        {
          center: location,
          zoom: 12
       }
      );

      var marker = new google.maps.Marker({
         position: location,
         map: map
      });
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyo_TTVJ_17KjZr5Q2eb07CjuAQ6CZj_U&callback=initMap" async defer></script>

