<!-- SHOWS ALL FAVORITED SALES -->

<h2 class="text-center"><%= current_user.username %>'s Favorite Sales: </h2>

<table class="table table-hover table-responsive">
  <thead class="thead-default">
    <tr>
      <td><h3><strong>Dates / Times</strong></h3></td>
      <td><h3><strong>Sale Name / Company</strong></h3></td>
      <td><h3><strong>Location</strong></h3></td>
      <td><h3><strong>Distance</strong></h3></td>
      <td><h3><strong>Notes</strong></h3></td>
    </tr>
  </thead>
  <tbody>
    <hr>
      <% @favorites.each do |f| %>
        <tr>
          <td><%= f.start_date%> - <%= f.end_date%><br><%= f.times%></td>
          <td><%= link_to f.title, estatesale_path(f) %><br>Last updated: <%=f.updated_at.strftime("%m.%d.%y") %></td>
          <td><%=f.address%><br><%=f.city%>, <%=f.state%>  <%=f.zip_code%></td>

          <td>  <!-- Need to add distance here:  -->
            <% if params[:zip_code].present? %>
              <%= @sale.distance_from(params[:zip_code]) %> miles
            <% end %>
          </td>
             <!--  Need to re-work notes part -->
          <td>
            <% @notes.each do |note| %>
              <%= note.description %>
            <% end %>
            <!-- Notes: <input type="text" name="notes"><input type="submit" value="Save"> -->
          </td>

          <td><%= link_to 'Remove', favorite_sale_path(f), method: :delete, data: { confirm: 'Are you sure?'} %></td>
        </tr>
      <%end%>

 <!-- <td>Listed by: favorite.estatesale.company.company_name</td> -->

  </tbody>
</table>

