<!DOCTYPE html>
<html>
<head>
  <title>Estates-to-Date</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body style="background-color:#000">
    <div class="container">

      <div class="header">
        <a href='/'><img id="head" src="http://i.imgur.com/9bv5xg0.png" alt="header-image"/>
      </div>
      <div class="logo">
        <img id="logo" src="http://i.imgur.com/L1TLcz9.png"></a>
      </div>

      <div class="nav">
        <%= link_to 'Estate Sales', estatesales_path %>
        <!-- Need to change these: -->
        <!-- <a href="#">Auctions</a> -->
        <!-- <a href="#">Around Town</a> -->
        <!-- <a href="/companies">Companies</a> -->
        <% if !logged_in? %>
        <%= link_to 'Sign Up', new_user_path %>
        <%= link_to 'Log In', login_path %>
        <% end %>
        <%  if logged_in? %>
          <%= link_to 'Log Out', logout_path, method: :delete %>
        <% end %>
        <%= link_to 'Advertise', new_estatesale_path %>
       <!--   <a href="#">Contact</a> -->

      </div>

        <%= yield %>

    </div>
  </body>

</html>

