<!DOCTYPE html>
<html>
  <head>
    <title>Estates-to-Date</title>

    <script src="https://use.fonticons.com/65d4015f.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background-color:#000">
    <div class="container">
      <div class="header">
        <a href='/'><img id="head" src="http://i.imgur.com/9bv5xg0.png" alt="header-image"/></a>
          <div class="logo">
            <%= image_tag("logo.png", alt: "logo", :id => "logo") %>
          </div>
       <div class="nav">
        <%= link_to 'Estate Sales', estatesales_path %>

          <!-- Need to add these later: -->
          <!-- <a href="#">Auctions</a> -->
          <!-- <a href="#">Out & About</a> -->
        <%= link_to 'Hire a Company', companies_path %>
        <%= link_to 'List your Sale', list_path %>

        <% if !logged_in? %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Log In', login_path %>
        <% end %>
        <%  if logged_in? %>
          <%= link_to 'Log Out', logout_path %>
        <% end %>

         <!--  Add this later: -->
         <!--   <a href="#">Contact Us</a> -->

      </div>
    </div>


          <%= yield %>

    </div>
  </body>
</html>

