<!DOCTYPE html>
<html>
  <head>
    <title>Estates-to-Date</title>

    <script src="https://use.fonticons.com/65d4015f.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body style="background-color:#000">
      <div class="jumbotron">
        <div class="container">

            <%= image_tag("logo.png", alt: "logo", :id => "logo") %>
          <p class="header-subtext">Estate Sales & Auctions in the Seattle area</p>
        </div>
      </div>

       <div class="nav">
        <%= link_to 'Find Estate Sales', estatesales_path %>

          <!-- Need to add these later: -->
          <!-- <a href="#">Auctions</a> -->
          <!-- <a href="#">Out & About</a> -->
        <%= link_to 'Hire a Company', companies_path %>
        <%= link_to 'List your Sale', list_path %>
        <a href='#'>Contact Us</a>
        <% if !logged_in? %>
          <%= link_to 'Sign Up', new_user_path %>
          <%= link_to 'Log In', login_path %>
        <% end %>
        <%  if logged_in? %>
          <%= link_to 'Log Out', logout_path %>
        <% end %>
       </div>

    <div id="main-container" class="container">
      <div class="row">
        <div class="col-md-8">

          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>

